<footer>
  <div class="footer">
    <div class="footer__info">
      © 2016 - Digital Bohemians - made in berlin
    </div>
    <div class="footer__links">
      <a href="https://twitter.com/falsanu">@falsanu</a> |
      <a href="https://twitter.com/Reisen_jv">@Reisen_jv</a> |
      <a href="/imprint.html">Imprint</a>
    </div>
  </div>
</footer>
